body {
    margin: 0;
    padding: 0;
    background-color: rgba(3, 3, 3, 0.499);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(fotos/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

p {
    color: rgb(220, 213, 213);
    font-size: 1em;
}

/*titel: het moord dossier*/
header h1 { 
    font-size: 4.5em;
    color: darkred;
    margin-top: 1em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*slogan*/
header h2 {
    color: rgba(249, 248, 248, 0.808);
    font-family: 'Times New Roman', Times, serif;
    margin-top: -1em;
    margin-bottom: 3em;
    display: flex;
    justify-content: center;
    font-size: 2em;
}

/*margin bij nav weghalen*/
nav ul {
    margin: 0;
}

/*nav naast elkaar*/
nav li {
    display: inline-block;
    margin-bottom: 1em;
} 

a {
    text-decoration: none;
    color: white;
    font-size: 1.28em;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 1em;
    transition: 250ms ease;
    display: flex;
}

nav a:hover {
    color: red;
}

header nav {
    border-bottom: 1px solid gray;
}

/*logo*/
header img {
    padding-left: 0px;
    width: 40%;
    margin-top: 1em;
}

/*bovenste zwarte achtergrond*/
header{
    padding-bottom: 0.6em;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.574);
}

/*homepagina*/
 main section h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(159, 0, 0);
    margin-left: 1em;
    font-size: 2.2em;
}

/*teaservideo*/
 video {
    width: 20%;
    height: 25em;
    float: right;
    margin-right: 6em;
    border: 2px solid rgb(212, 210, 210);
    border-radius: 10px;
    transition: transform 0.4s ease;
}

video:hover {
    transform: scale(1.1);
}


/*tekst homepagina*/
main section p{
    color: rgb(220, 213, 213);
    text-align: justify;
    max-width: 60em;
    letter-spacing: 0.5px;
    margin-bottom: 4em;
    margin-top: -1.5em;
    margin-left: 2em;
}

/*luister nu knop*/
main a{
    font-size: 2em;
    margin-left: 1em;
    margin-top: -1em;
    box-shadow: 0 1px 0  rgba(245, 241, 241, 0.665);
    display: inline-block;
    border-radius: 10px;
    background-color: rgb(159, 2, 2);
    color: white;
    padding: 4px 8px;
    margin-bottom: 2em;
    transition: 250ms ease;
}


section a:hover {
    color: rgb(0, 0, 0);
}

/*knop wordt ingedrukt*/
section a:hover {
    transform: translateY(3px);
}

/*tekstveld*/
input {
    width: 30%; 
    height: 20vh;
    font-size: 1.5em;
    border: 3px solid #747373;
    border-radius: 8px;
    margin-bottom: 3em;
    margin-left: 1em;
    margin-top: -1em;
}

/*titels h1: afleveringen en over ons*/
h1 {
    font-size: 4em;
    color: darkred;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.afleveringen h2 {
    color: darkred;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}

.afleveringen p {
    max-width: 84%;
   
}

img {
    width: 20%;
    height: 20%;
    margin-top: 2em;
    margin-right: 2em;
}

.afleveringen li {
    display: flex;
    justify-content: right;
}